<div class="container" appResizable [resizeEle]="resizeEle">
  <div #resizeEle class="top-area">
    <div class="content">Top</div>
  </div>
  <div>=</div>
  <div class="bottom-area">
    <div
      class="bottom-container"
      appResizable
      [direction]="'horizontal'"
      [resizeEle]="resizeBottomEle"
    >
      <div #resizeBottomEle class="bottom-left">
        <div class="content">Bottom-left</div>
      </div>
      <div>=</div>
      <div class="bottom-right">Bottom-right</div>
    </div>
  </div>
</div>
